$icomoon-font-family: "icomoon-pmt" !default;
$icomoon-font-path: "../fonts/icomoon-pmt" !default;

$icon-hamburger: "\e921";
$icon-remove-circle: "\e91f";
$icon-add-circle: "\e920";
$icon-exclamation: "\e91c";
$icon-cois: "\e91d";
$icon-attachment: "\e91e";
$icon-send-email: "\e91a";
$icon-edit: "\e91b";
$icon-file: "\e919";
$icon-check: "\e918";
$icon-delete: "\e917";
$icon-search: "\e916";
$icon-calendar: "\e913";
$icon-download: "\e914";
$icon-reforcast: "\e915";
$icon-filled-arrow-left: "\e911";
$icon-filled-arrow-right: "\e912";
$icon-bordered-arrow-left: "\e90f";
$icon-bordered-arrow-right: "\e910";
$icon-menu: "\e90d";
$icon-left-arrow-icon: "\e90c";
$icon-right-arrow-icon: "\e90e";
$icon-info-icon-2: "\e90b";
$icon-approval: "\e90a";
$icon-account: "\e900";
$icon-dashboard: "\e901";
$icon-invoice: "\e902";
$icon-pdf-path1: "\e903";
$icon-pdf-path2: "\e904";
$icon-pdf-path3: "\e905";
$icon-pdf-path4: "\e906";
$icon-pdf-path5: "\e907";
$icon-settings: "\e908";
$icon-vendor: "\e909";