/* Logo styles */

.logo {

	.logo-text {
		color: $color-black;
		font-family: $font-avenir-next-regular;
		letter-spacing: 4px;

		&.sm {
			font-size: 42px;
		}

		&.lg {
			font-size: 70px;
		}
	}
}