/* Contract details */

.contract-details {

	.box {
		padding: 115px 55px 25px 85px;
	}

	.details {
		margin-bottom: 115px;

		.label {
			font-family: $font-secondary;
			font-size: $md;
			color: $color-black;
		}

		.text-field {
			justify-content: flex-start;

			.label {
				width: 45%;
			}
		}
	}
}