/* Owner contract */

.owner-contract {

	.title {
		color: $color-black!important;
		margin-bottom: 40px!important;
	}

	.subtitle {
		font-family: $font-secondary;
		font-weight: 300;
		color: #6B6B6B;
		margin-bottom: 35px;
	}
}