/* Uploaded invoices responsive styles */

@media (max-width: $screen-md) {

	.uploaded-invoices {

		.box {
			padding-left: 0;
			margin-top: 35px;
		}

		.items {
			justify-content: center;
		}
	}
}