/* View document responsive styles */

@media (max-width: $screen-sm)  {

	.view-approval-doc {

		.block-title {
			padding-top: 35px;
		}

		.doc-actions, .doc-file {
			max-width: none;
			width: 100%;
		}

		.doc-file {
			padding-left: 0;
		}

		.doc-content {
			flex-direction: column;
		}
	}
}